/* Colores */
$azul1: #003291;  
$azul2: rgb(2, 35, 109); 
$amarillo: #f6b800;  

/* Fuentes */
$fuente-principal: 'Nunito', sans-serif;  
$fuente-secundaria: 'Montserrat', sans-serif;  

/* Tamanos de fuente */
$font-size-base: 16px;  
$font-size-h1: 39px;  
$font-size-h2: 22px;  

/* Espaciado */
$espacio-small: 10px;
$espacio-medium: 20px;
$espacio-large: 50px;


/* Breakpoints */
$breakpoint-mobile: 576px;   
$breakpoint-tablet: 768px;   
